html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100vw !important;
  height: 100vh !important;
}

.facebook-btn {
  width: 100%;
  background-color: #4267B2 !important;
  color: white !important;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;

  &:hover {
    opacity: 0.9;
  }
}